.root {
  --blue: #1565c0;
  --gray: #dde2e8;
  --dark-gray: #59636e;
  --light-gray: #fbfbfb;
  --white: #ffffff;
  --like: #f91880;
  --light-like: #f7bcdd;
  --comment: #0269d6;
  --light-comment: #a7cffa;
}
