.loaderWrapperTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 200px;
}

.loaderWrapperBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 100px;
}
